/*

███████╗░█████╗░██╗░░██╗░░░░░██╗███████╗░██████╗██╗░░░██╗░██████╗
██╔════╝██╔══██╗██║░██╔╝░░░░░██║██╔════╝██╔════╝██║░░░██║██╔════╝
█████╗░░██║░░╚═╝█████═╝░░░░░░██║█████╗░░╚█████╗░██║░░░██║╚█████╗░
██╔══╝░░██║░░██╗██╔═██╗░██╗░░██║██╔══╝░░░╚═══██╗██║░░░██║░╚═══██╗
██║░░░░░╚█████╔╝██║░╚██╗╚█████╔╝███████╗██████╔╝╚██████╔╝██████╔╝
╚═╝░░░░░░╚════╝░╚═╝░░╚═╝░╚════╝░╚══════╝╚═════╝░░╚═════╝░╚═════╝░

*/

//META{"name":"Celeste theme","description":"Minimalism ","author":"FCKJesus","version":"1.2"}*//
.theme-dark{
	--background-primary: #292b2f;
	--background-secondary: #292b2f;
	--text-muted: #72767d;
	--text-link: #00CED1;
	--interactive-normal: #b9bbbe;
	--interactive-muted: #FF0000;
	--var(--interactive-active);
	--background-mentioned: rgba(147, 112, 219, 0.10);
	--background-mentioned-hover: rgba(147, 112, 219, 0.25);
	--scrollbar-auto-track: #292b2f;
}


.scrollableContainer-2NUZem{
	background: #2c2f33;
}

.scrollableContainer-2NUZem:hover{
	background: #2F3136;
}

/*RainbowNameGroup*/
.mainContent-2gfK59, .membersGroup-v9BXpm{
	background-image: linear-gradient(to right, #dd00f3, #FF00FF, #6A5ACD, #dd00f3, #FF00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
}

/*SideBar*/
.wrapper-1Rf91z {
background-color: #262a31;
border-top-right-radius:4px;
border-top-left-radius:4px;
width:50px;
overflow:hidden;
opacity:0%;
transition: all 150ms ease-in-out;
position: absolute;
top: 0;
z-index: 500;
}



.wrapper-1Rf91z:hover {
width:72px;
opacity:100%;
}

.listItem-2P_4kh {
overflow: hidden;
}

.scrollableContainer-2NUZem{
border-radius: 2px;
}

.base-3dtUhz {
margin-left:-72px;
}

.layers-3iHuyZ {
margin-top: -20px;
}

.toolbar-1t6TWx {
    margin-right: 75px;
}

.toolbar-1t6TWx :nth-child(5), .toolbar-1t6TWx :nth-child(6) {
	display: none;
}

.wrapper-3WhCwL {
	background: rgba(147, 112, 219, 0.3);;
	font-weight: 550;
	color: #fff;
}

.wrapper-3WhCwL:hover {
	background: rgba(0, 206, 209, 0.7);;
}


.title-29uC1r {
	color: #fff;
	font-weight: 600;
	font-size: 20px;
}

.auto-Ge5KZx, .section-2gLsgF {
	background: #292b2f;
}
.wordmarkWindows-1v0lYD{
	display: none;
}
/*ProfileBar*/
.headerPlaying-j0WQBV, .headerNormal-T_seeN{
	position: relative;
	background: url('https://i.imgur.com/1ZqlwP3.jpeg');
}
.headerPlaying-j0WQBV{
	border-top: 5px double #292b2f;
}


.activityUserPopout-2yItg2:hover {
background: linear-gradient(124deg, #1ddde8, #00BFFF, #2b1de8, #6A5ACD, #dd00f3, #FF00FF);
background-size: 1800% 1800%;
-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


.customStatusText-3YJeRZ{
	font-size: 16px;
	font-weight: 580;
}
